* {
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid indigo;
    z-index: 2;
}

#logo {
    height: 40px;
    margin: 7px 10px;
}

.search-form {
    margin-top: 9px;
    margin-left: 30px;
    margin-bottom: 9px;
    padding-right: 10vw;
    padding-left: 5px;
    border: 1px solid indigo !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    width: 90%;
    outline: none;
}

.input-text {
    background: indigo;
    border: 6px solid indigo;
    margin: 9px 10px 9px 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    cursor: pointer;
}

.search-line {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: white;
}

.account-menu {
    width: 40%;
    height: 57px;
    float: right;
}

.account-menu ul {
    display: inline-flex;
    float: right;
}

.account-menu ul li {
    border-left: 1px solid white;
    list-style-type: none;
    padding: 18.7px 35px;
    text-align: center;
    background-color: indigo;
    cursor: pointer;
}

.account-menu ul li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-area: 'menu main rand' 'footer footer footer';
    grid-template-columns: 15% 70% 15%;
    overflow: hidden;
}

.menu {
    grid-area: 'menu';
    /* background-color: aqua;
    width: 100%;
    height: 500px; */
}

.side-menu {
    /* height: 79%;*/
    width: 100%;
    font-size: 14px;
    float: left;
    z-index: 2;
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10%;
    cursor: pointer;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.side-menu ul li:hover {
    color: indigo;
    border-bottom: 2px solid indigo;
    padding-bottom: 10px;
    margin-right: 10px;
}

.fa-caret-right {
    margin-top: 4px;
    margin-right: 12px;
    float: right;
}

main {
    padding: 2%;
    grid-area: 'main';
    background-color: rgb(123, 255, 0);
    width: 96%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    height: 100%;
}

main .row {
    display: flex;
}

.movie-item {
    display: block;
    margin: 2%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.poster {
    float: left;
    position: relative;
}

.poster img {
    width: 250px;
    height: 350px;
    /* analogia 1.4 */
}

.overlay-down {
    display: block;
    opacity: 0;
    position: absolute;
    top: 5%;
    margin-left: 5%;
    width: 75%;
    /* height: 40px; */
}

.overlay-down .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 20px;
    width: 20px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-down .btnbkmrk {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.poster:hover .overlay-down {
    opacity: 1;
    margin-top: 4.5%;
    transition: 0.5s;
}

.description {
    position: absolute;
    float: right;
    z-index: -1;
    width: 250px;
    height: 350px;
    background-color: #fff;
    transition: 0.75s ease;
}

.movie-item:hover .description {
    margin-left: 250px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.description .title {
    font-weight: bold;
}

.rand {
    grid-area: 'rand';
    background-color: rgb(255, 0, 43);
    width: 100%;
    /* height: 500px; */
}

footer {
    grid-area: 'footer';
    background-color: midnightblue;
    width: 98.9vw;
    height: 110%;
    margin-top: 50px;
    color: #fff;
}

footer .row {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-size: 15px;
    margin: 25px 0;
}

footer p {
    font-size: 12px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.media {
    margin: -20px 0;
}

.media ul li {
    display: inline;
    margin: 0 5px;
}

.aueb,
.eclass,
.fb,
.insta {
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    border-radius: 25px;
}

.fb:hover,
.insta:hover,
.aueb:hover,
.eclass:hover {
    opacity: 1.0;
}

input[type="reset"] {
    font-family: FontAwesome;
    background-color: indigo;
    padding: 2px 5px;
    font-size: 20px;
    border: none !important;
}

footer .row a:any-link {
    text-decoration: none;
    color: white;
}

footer .row a:hover {
    color: indigo;
}